---
import { useI18n } from '../../i18n/utils';

const { t } = useI18n(Astro.url);
---

<section id="home" class="relative h-screen min-h-[600px] max-h-[800px] pt-20 lg:pt-24">
  <!-- Background Video -->
  <div class="absolute inset-0 z-0">
    <video
      autoplay
      muted
      loop
      playsinline
      class="w-full h-full object-cover"
      poster="/images/Landing/HeroSection/background_1.png"
    >
      <source src="https://videos.pexels.com/video-files/3129671/3129671-uhd_2560_1440_30fps.mp4" type="video/mp4" />
    </video>
    <!-- Purple overlay -->
    <div class="absolute inset-0 bg-map-blue/20"></div>
  </div>

</section>
